<h1>Джоан Роулинг</h1>
<p><img src="https://avatars.mds.yandex.net/get-entity_search/7798577/777827187/S600xU_2x" width="260" height="240"/></p>
<p>
    Привет, я британская писательница, сценаристка и кинопродюсер,
    <a href="https://vk.com/rowling_fan">а это страница групппы, посвященной моему творчеству!</a>
</p>
<div>Я по-настоящему стала собой, когда написала про <strong>Гарри Поттера</strong>. Все остальное просто исчезло. В моей жизни царил совершенный беспорядок, но <ins>я почувствовала освобождение!</ins></div>
<div>Я хотела написать книгу, и я ее написала. Самым ужасным было то, что ее отвергли все издательства, которым я ее предлагала. Моя жизнь была очень тяжелой. И я не предполагала, что все обернется таким сказочным образом.</div>
<div>Как-то я шла из кафе, где писала «Гарри Поттер и философский камень», и услышала внутри себя: <em>«Сложнее всего будет добиться публикации этой книги. Но если ее опубликуют, тебя ждет большой успех».</em> Так и произошло! Я никогда не верила в себя, но зато я твердо верила, что могу написать хорошую книгу.</div>
<br>
<div>Если бы я могла повернуть время вспять, я бы сказала себе: «<del>Жизнь — это не список приобретений и достижений. Квалификация и резюме — это не вся жизнь. Она сложна и запутанна и не подчиняется полному контролю кого бы то ни было.</del> <mark>И смиренное понимание этого позволит тебе пережить превратности судьбы</mark>».</div>